<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>252949820412-i4gpnv22et4ie2g92tm6bmf8a3lvg8tm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.252949820412-i4gpnv22et4ie2g92tm6bmf8a3lvg8tm</string>
	<key>API_KEY</key>
	<string>AIzaSyACCIzIn3zH531dbKC189T_4ut1odyolas</string>
	<key>GCM_SENDER_ID</key>
	<string>252949820412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.OZakaria.Instagram.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-4beef</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-4beef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252949820412:ios:bce153f79f19e96f6f7879</string>
</dict>
</plist>